{% extends "base_layout.html" %}
{% block content %}

			<div class="hero" data-bg-image={{url_for('static',filename="images/banner.png")}}>
				<div class="container">
					<form action="/index" method = "POST" class="find-location">
						<input type="text" name="location" placeholder="Find your location...">
						<input type="submit" value="Find">
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Monday</div>
								<div class="date">6 Oct</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">{{param["city_name"]}}</div>
								<div class="degree">
									<div class="num">{{param["ct"]}}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src=http://openweathermap.org/img/wn/{{param["icon_sym"]}}@2x.png alt="" width=90>
									</div>	
								</div>
								<span><img src={{url_for('static',filename="images/icon-umberella.png")}} alt="">{{param["humid"]}}%</span>
								<span><img src={{url_for('static',filename="images/icon-wind.png")}} alt="">{{param["ws"]}}km/h</span>
								<span><img src={{url_for('static',filename="images/icon-compass.png")}} alt="">East</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Tuesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{url_for('static',filename="images/icons/icon-3.svg")}} alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{url_for('static',filename="images/icons/icon-5.svg")}} alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{url_for('static',filename="images/icons/icon-7.svg")}} alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{url_for('static',filename="images/icons/icon-12.svg")}} alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{url_for('static',filename="images/icons/icon-13.svg")}} alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Sunday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src={{url_for('static',filename="images/icons/icon-14.svg")}} alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
					</div>
				</div>
			</div>


{% endblock %}

